@tailwind base;
@tailwind components;
@tailwind utilities;

/* ローディングアニメーションのスタイル */
.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 0.6s linear infinite;
    animation: spinner 0.6s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


@media (min-width: 640px) {
    .five-rows.candyImg {
        width: 6rem;
        position: absolute;
        bottom: 420px;
        right: 10px;
    }
    .five-rows.cakeImg {
        width: 6rem;
        position: absolute;
        bottom: 80px;
        left: -24px;
    }
    .five-rows.ameImg {
        width: 6rem;
        position: absolute;
        bottom: 80px;
        right: 10px;
    }

    .six-rows.candyImg {
        width: 6rem;
        position: absolute;
        bottom: 560px;
        right: 10px;
    }
    .six-rows.cakeImg {
        width: 6rem;
        position: absolute;
        bottom: 200px;
        left: -24px;
    }
    .six-rows.ameImg {
        width: 6rem;
        position: absolute;
        bottom: 200px;
        right: 10px;
    }
}

/* スマホサイズのスタイル */
@media (max-width: 639px) {
    .candyImg {
        position: absolute;
        width: 5rem;
        bottom: 400px;
        right: 10px;
    }
    .cakeImg {
        position: absolute;
        width: 5rem;
        bottom: 36px;
        left: -10px;
    }
    .ameImg {
        position: absolute;
        width: 6rem;
        bottom: 40px;
        right: 10px;
    }
}
