@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    .five-rows.candyImg {
        width: 6rem;
        position: absolute;
        bottom: 520px;
        right: 10px;
    }
    .five-rows.cakeImg {
        width: 6rem;
        position: absolute;
        bottom: 180px;
        left: -24px;
    }
    .five-rows.ameImg {
        width: 6rem;
        position: absolute;
        bottom: 180px;
        right: 10px;
    }

    .six-rows.candyImg {
        width: 6rem;
        position: absolute;
        bottom: 640px;
        right: 10px;
    }
    .six-rows.cakeImg {
        width: 6rem;
        position: absolute;
        bottom: 300px;
        left: -24px;
    }
    .six-rows.ameImg {
        width: 6rem;
        position: absolute;
        bottom: 300px;
        right: 10px;
    }
}

/* スマホサイズのスタイル */
@media (max-width: 639px) {
    .candyImg {
        position: absolute;
        width: 5rem;
        bottom: 400px;
        right: 10px;
    }
    .cakeImg {
        position: absolute;
        width: 5rem;
        bottom: 36px;
        left: -10px;
    }
    .ameImg {
        position: absolute;
        width: 6rem;
        bottom: 40px;
        right: 10px;
    }
}
